.DS_Store
Thumbs.db
sync.sh
sync_exclude
.idea/*
.env
bitrix/*
upload/*
crl/*
logs/

*.log
*.swp
*.xml
local/vendor/*
local/php_interface/*
css/*
local/composer.lock
local/const.php

local/modules/sprint.migration/*
local/templates/main/node_modules/
local/templates/main/package-lock.json
node_modules
.markup
___exceptions.log.old
test.txt
.cache