.DS_Store
Thumbs.db
sync.sh
sync_exclude
.idea/*
.env
bitrix/*
upload/*
logs/

*.log
*.swp
*.xml
local/vendor/*
local/composer.lock
local/const.php

!bitrix/.settings.php
!bitrix/components/

bitrix/components/bitrix/*
local/modules/sprint.migration/*
local/templates/main/node_modules/
local/templates/main/package-lock.json
node_modules
.markup
___exceptions.log.old
test.txt
.cache