.product-gallery {
	display: relative;
}
.product-gallery__sticker-container {

}
.product-gallery__sticker {
	position: absolute;
	width: 129px;
	height: 40px;
	z-index: 2;
	top: 20px;
	left: 25%;
}
.product-gallery__sticker span { 
	color: white;
	border-radius: 3px;
}

.discount {
	background: linear-gradient(111.96deg, #B721FF 0%, #21D4FD 100%);
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px;
}

.hide-sticker {
	display: none;
}
.sale {
	display: flex;
	justify-content: center;

}
.sale span:nth-child(1) {
	background: linear-gradient(90deg,#ff5858 0%,#f09819 100%);
	font-size: 21px;
	margin-right: 10px;
	padding: 5px 15px;
}
.sale span:nth-child(2) {
    font-size: 22px;
    background: -webkit-gradient(linear,left top, right top,from(#f83600),to(#f9d423));
    background: -webkit-linear-gradient(left,#f83600 0%,#f9d423 100%);
    background: -o-linear-gradient(left,#f83600 0%,#f9d423 100%);
    background: linear-gradient(90deg,#f83600 0%,#f9d423 100%);
    color: #0b2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	padding: 5px;
}

.new {
	display: flex;
	justify-content: center;
}
.new span {
	background: linear-gradient(90deg,#2af598 0%,#009efd 100%);
	font-size: 22px;
	padding: 5px 10px;
}

@media (max-width: 480px) {
	.product-gallery__sticker {
		top: 5px;
		left: 10px;
	}
}

/*
.sticky-product {
	position: fixed;
	left: 0;
	top: unset;
	bottom: 0;
	background: #fff;
	width: 100%;
	height: 76px;
	z-index: 990;
	transition: transform .15s ease-in;
	visibility: hidden;
	transform: translateY(100%);
	box-shadow: 0 -1px 4px 0 rgba(0,0,0,.5)
}

.sticky-product--active {
	visibility: visible;
	transform: translateY(0)
}

.sticky-product__container {
	display: flex;
	margin: 10px auto 0
}

.sticky-product__image-wrap {
	margin-top: 2px;
	margin-right: 10px
}

.sticky-product__text-wrap {
	width: 272px;
	margin-right: 20px
}

.sticky-product__text-top {
	height: 22px
}

.sticky-product__code {
	display: inline-block;
	margin-top: 4px;
	font-size: 11px;
	margin-right: 10px
}

.sticky-product__name {
	height: 34px;
	line-height: 13px;
	overflow: hidden;
	position: relative;
	font-size: 13px;
	margin-top: 4px;
}

.sticky-product__checkout {
	margin-right: 40px;
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch
}

.sticky-product__price-block {
	color: #000;
	line-height: 12px;
	margin-bottom: 6px;
	height: 14px
}

.sticky-product__price {
	font-size: 18px;
	font-weight: 700
}

.sticky-product__no-price,
.sticky-product__currency {
	font-size: 12px;
	letter-spacing: -.6px
}

.sticky-product__nav {
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-grow: 1;
}

.sticky-product__nav-item {
	display:block;
	color: #000;
	font-size: 13px;
}

/**/