article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:active, a:hover { outline: 0px none; }
h3 { font-size: 16px; font-weight: 400; margin: 0px 0px 1em; }
h4 { font-size: 14px; font-weight: 400; margin: 0px 0px 1.33em; }
b, strong { font-weight: 700; }
hr { box-sizing: content-box; height: 0px; }
p, pre { margin: 0px 0px 1em; }
q::before, q::after { content: none; }
dl, menu, ol, ul { margin: 0px; }
menu, ol, ul { padding: 0px; list-style: outside none none; }
nav ul, nav ol { list-style: outside none none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
.mybahex::before, .xuhuk::before, .mybahex::after, .xuhuk::after { display: table; content: " "; }
.mybahex::after, .xuhuk::after { clear: both; }
.mybahex, .xuhuk {  }
@font-face {
	font-family: "PF DinDisplay Pro";
	font-style: normal;
	font-weight: 700;
	src: url('/css/main/biu/images/pfdindisplaypro-bold.eot') format("embedded-opentype"), url('/css/main/biu/images/pfdindisplaypro-bold.woff') format("woff"), url('/css/main/biu/images/pfdindisplaypro-bold.ttf') format("truetype"), url('/css/main/biu/images/pfdindisplaypro-bold.svg') format("svg");
}
@font-face {
	font-family: "PF DinDisplay Pro";
	font-style: normal;
	font-weight: 500;
	src: url('/css/main/biu/images/pfdindisplaypro-med.eot') format("embedded-opentype"), url('/css/main/biu/images/pfdindisplaypro-med.woff') format("woff"), url('/css/main/biu/images/pfdindisplaypro-med.ttf') format("truetype"), url('/css/main/biu/images/pfdindisplaypro-med.svg') format("svg");
}
@font-face {
	font-family: "PF DinDisplay Pro";
	font-style: normal;
	font-weight: 400;
	src: url('/css/main/biu/images/pfdindisplaypro-reg.eot') format("embedded-opentype"), url('/css/main/biu/images/pfdindisplaypro-reg.woff') format("woff"), url('/css/main/biu/images/pfdindisplaypro-reg.ttf') format("truetype"), url('/css/main/biu/images/pfdindisplaypro-reg.svg') format("svg");
}
html { font-family: "PT Sans",sans-serif; min-width: 960px; color: rgb(51, 51, 51); background: rgb(251, 251, 251) url('/css/main/biu/images/bg.jpg') repeat scroll 0% 0%; }
a { color: rgb(71, 147, 223); }
a:hover { color: rgb(110, 170, 7); }
h4 { color: rgb(71, 147, 223); }
.i-text li::before, .blog__post li::before { position: absolute; top: 8px; left: 3px; display: inline-block; width: 21px; height: 8px; margin-right: 4px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll 0px -150px; }
.i-available::before { display: inline-block; width: 14px; height: 11px; margin-top: 2px; margin-right: 2px; content: ""; vertical-align: top; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -50px -250px; }
.bulat { position: relative; text-transform: uppercase; }
.bulat::before { font-weight: 300; position: absolute; top: 0.3ex; left: -0.1ex; width: 0.9ex; content: "-"; }
.xuhuk { width: 940px; margin: auto; padding: 0px 10px; }
.lazytyr { display: inline-block; box-sizing: border-box; text-align: center; text-decoration: none; border: medium none; outline: medium none; }
.cumiuod { font-size: 14px; line-height: 30px; padding: 0px 15px; text-align: center; color: rgb(51, 51, 51); border: 1px solid rgb(214, 214, 214); border-radius: 15px; background: transparent linear-gradient(to bottom, white 0%, rgb(219, 219, 219) 100%) repeat scroll 0% 0%; }
.cumiuod::after { display: inline-block; width: 4px; height: 8px; margin-top: -2px; margin-left: 9px; content: ""; vertical-align: middle; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -30px -250px; }
.cumiuod:hover { color: rgb(51, 51, 51); background: transparent linear-gradient(to bottom, white 0%, rgb(233, 233, 233) 100%) repeat scroll 0% 0%; }
.wecam { font-family: "Roboto",sans-serif; font-size: 14px; line-height: 26px; width: 81px; color: rgb(51, 51, 51); border: 2px solid rgb(238, 238, 238); border-radius: 15px; background: transparent linear-gradient(to bottom, white 0%, rgb(219, 219, 219) 100%) repeat scroll 0% 0%; }
.wecam:hover { color: rgb(255, 255, 255); border: 2px solid rgb(143, 202, 42); background: transparent linear-gradient(to bottom, rgb(158, 215, 61) 0%, rgb(131, 192, 26) 100%) repeat scroll 0% 0%; }
.form__select-box::before { position: absolute; top: 1px; right: 1px; display: block; width: 35px; height: 29px; content: ""; pointer-events: none; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -150px -250px; }
.fancy-radio__label::before { position: absolute; top: 10px; right: 10px; display: block; width: 13px; height: 13px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -100px -250px; }
.narol { margin-bottom: 20px; }
.typoc { float: left; }
.zifal { width: 280px; margin: 7px auto auto; }
.hajir { margin-top: 10px; }
.tauoxus { margin-top: 30px; }
.xoniw { line-height: 39px; height: 39px; margin-bottom: 16px; border-bottom: 1px solid rgb(240, 240, 240); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.uewiwiw { font-size: 13px; float: left; }
.jasotat { float: right; }
.tukuf { font-size: 14px; float: left; margin-left: 27px; }
.tukuf::before { display: inline-block; width: 20px; height: 20px; margin-right: 4px; content: ""; vertical-align: middle; background: transparent url('/css/main/biu/images/icons.png') repeat scroll 0% 0%; }
.nihez::before { background-position: -100px 0px; }
.yemof::before { background-position: -150px 0px; }
.daneg { color: rgb(71, 147, 223); }
.lihaw { display: table; width: 250px; text-align: center; }
.zisewen { display: table-cell; height: 75px; vertical-align: middle; }
.kinacod { display: inline-block; }
.uegijyk { font-size: 14px; margin-top: -7px; text-align: center; }
.narol-cart__items::before { display: inline-block; width: 26px; height: 28px; margin-right: 4px; content: ""; vertical-align: middle; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -50px 0px; }
.wauiy { font-family: "PF DinDisplay Pro","PT Sans",sans-serif; font-size: 13px; text-transform: uppercase; }
.fosic { line-height: 41px; display: inline-block; float: left; width: 158px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); border: 1px solid rgb(76, 153, 229); border-radius: 4px; background: transparent linear-gradient(to bottom, rgb(93, 176, 251) 0%, rgb(62, 134, 211) 100%) repeat scroll 0% 0%; }
.fosic::before { display: inline-block; width: 22px; height: 20px; margin-top: -2px; margin-right: 8px; content: ""; vertical-align: middle; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -200px 0px; }
.fosic:hover { color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(143, 200, 252) 0%, rgb(62, 134, 211) 100%) repeat scroll 0% 0%; }
.basayep { display: table; float: right; width: 764px; border: 1px solid rgb(219, 219, 219); border-radius: 4px; }
.tomysiz { display: table-cell; text-align: center; white-space: nowrap; border-right: 1px solid rgb(219, 219, 219); }
.tomysiz:last-child { border: medium none; }
.wiqabes { line-height: 41px; display: inline-block; width: 100%; text-decoration: none; color: rgb(51, 51, 51); background: transparent linear-gradient(to bottom, white 0%, rgb(234, 234, 234) 100%) repeat scroll 0% 0%; }
.wiqabes--active, .wiqabes:hover { color: rgb(71, 147, 223); background: transparent linear-gradient(to bottom, rgb(237, 237, 237) 0%, rgb(251, 253, 254) 100%) repeat scroll 0% 0%; }
.xojutyz { font-size: 14px; margin-left: -20px; text-align: center; }
.jarumaq { position: relative; float: left; width: 165px; margin-left: 20px; padding-top: 6px; padding-left: 55px; text-align: left; }
.jarumaq::before { position: absolute; top: 0px; left: 0px; display: inline-block; width: 44px; height: 48px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll 0% 0%; }
.fufobor::before { background-position: 0px -50px; }
.kayicud::before { background-position: -50px -50px; }
.yeloneg::before { background-position: -100px -50px; }
.geqik::before { background-position: -150px -50px; }
.xoxaqal { font-size: 16px; line-height: 1; margin-bottom: 2px; color: rgb(71, 147, 223); }
.cozoyep { font-size: 13px; float: left; width: 700px; margin-bottom: 30px; }
.sohobey { margin-left: -20px; }
.conoh { display: inline-block; width: 340px; margin-bottom: 27px; margin-left: 18px; vertical-align: top; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.fasipiy { position: relative; padding: 20px 20px 20px 130px; border: 2px solid rgb(240, 240, 240); border-radius: 4px; min-height: 90px; }
.ceqir { position: absolute; top: 20px; left: 10px; width: 110px; text-align: center; }
.ceqir img { max-width: 100%; }
.tuney { font-size: 15px; color: rgb(71, 147, 223); }
.tuney:hover { color: rgb(110, 170, 7); }
.locop { font-size: 12px; font-style: italic; color: rgb(134, 134, 134); }
.uahidop { font-size: 13px; margin: 10px 0px; }
.joryh { font-family: "Roboto",sans-serif; font-size: 18px; font-weight: 500; float: left; }
.tiyypeu { float: right; }
.properties__item::before { display: inline; content: "тАФ"; }
.capeb { float: right; width: 220px; margin-bottom: 50px; }
.xaxex { margin-bottom: 20px; }
.gynibup { margin-bottom: 20px; padding: 15px; border-top: 3px solid rgb(240, 240, 240); border-bottom: 3px solid rgb(240, 240, 240); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.uawaz { font-size: 15px; font-weight: 700; display: inline-block; margin-top: 0px; margin-bottom: 11px; text-transform: uppercase; color: rgb(51, 51, 51); }
.wuheqor { font-size: 14px; }
.nuqif { padding-bottom: 10px; border-bottom: 1px solid rgb(240, 240, 240); }
.xumyz { margin-bottom: 11px; }
.qemaxyx { position: relative; display: inline-block; padding-left: 12px; color: rgb(71, 147, 223); }
.qemaxyx::before { position: absolute; top: 5px; left: 0px; display: inline-block; width: 5px; height: 10px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -10px -250px; }
.qemaxyx--active, .qemaxyx:hover { color: rgb(110, 170, 7); }
.qemaxyx--active::before, .qemaxyx:hover::before { background-position: 0px -250px; }
.categories-links__href::before { position: absolute; top: 5px; left: 0px; display: inline-block; width: 5px; height: 10px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -30px -250px; }
.categories-links__href--active::before, .categories-links__href:hover::before { background-position: -10px -250px; }
.wiuadet { font-size: 14px; }
.catazow { font-weight: 700; margin: 0px 0px 10px; color: rgb(51, 51, 51); }
.xeryf { margin-bottom: 8px; }
.moguryl { font-style: italic; }
.gouiuuc { font-size: 12px; color: rgb(140, 140, 140); }
.nuruz { height: 1px; margin: 12px 0px; border: medium none; background: rgb(225, 225, 225) none repeat scroll 0% 0%; }
.nauox { font-size: 13px; color: rgb(71, 147, 223); }
.rucut { font-size: 13px; text-align: center; }
.qytin { margin-bottom: 7px; padding: 14px 14px 2px; border: 1px dashed rgb(71, 147, 223); border-radius: 8px; background: transparent url('/css/main/biu/images/sidebar-bonuses-bg.png') no-repeat scroll 0% 0%; }
.wizorid { background-position: 100px 0px; }
.yehac { background-position: 100px -200px; }
.puwynej { background-position: 100px -380px; }
.hulauer { font-size: 17px; font-weight: 700; margin-bottom: 8px; color: rgb(71, 147, 223); }
.jypixod { font-size: 14px; margin-bottom: 20px; padding: 0px 9px; border: 3px solid rgb(240, 240, 240); border-radius: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.byloc { padding-top: 12px; border-top: 1px dashed rgb(162, 162, 162); }
.byloc:first-child { border: medium none; }
.fucam { min-height: 60px; }
.binor { float: left; max-width: 70px; }
.xykayou { display: block; margin-left: 80px; color: rgb(71, 147, 223); }
.xauah { font-size: 12px; margin-left: 80px; color: rgb(162, 162, 162); }
.kilojud { padding: 20px 0px 30px; color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(47, 85, 128) 0%, rgb(29, 68, 109) 100%) repeat scroll 0% 0%; }
.footer__links { float: left; width: 700px; margin-left: -30px; }
.nedef { float: right; width: 240px; }
.teuydez { margin-top: 30px; padding-top: 20px; color: rgb(86, 123, 165); border-top: 1px solid rgb(56, 101, 149); }
.footer__counters { float: right; }
.footer__social { float: right; margin-right: 20px; }
.kilojud-links { float: left; width: 200px; padding-left: 30px; }
.kilojud-links__item { font-size: 13px; position: relative; margin-top: 10px; padding-left: 10px; }
.kilojud-links__item::before { position: absolute; top: 5px; left: 0px; display: inline-block; width: 5px; height: 8px; content: ""; background: transparent url('/css/main/biu/images/icons.png') repeat scroll -20px -250px; }
.kilojud-links__href { line-height: 1; color: rgb(255, 255, 255); }
.kilojud-links__href:hover { color: rgb(255, 255, 255); }
.kilojud-social { line-height: 32px; }
.kilojud-social__href { display: inline-block; width: 23px; height: 23px; margin: 0px 5px; vertical-align: middle; text-indent: -9999px; background: transparent url('/css/main/biu/images/icons.png') repeat scroll 0% 0%; }
.kilojud-social__href--fb { background-position: 0px -200px; }
.kilojud-social__href--twitter { background-position: -30px -200px; }
.kilojud-social__href--rss { background-position: -60px -200px; }
.syxod { text-align: center; }
.jypis { padding: 10px 3px 1px; border-radius: 5px; background: rgb(53, 94, 141) none repeat scroll 0% 0%; }
.byqetyw { font-family: "PF DinDisplay Pro","PT Sans",sans-serif; font-size: 22px; line-height: 28px; }
.byqetyw::before { display: inline-block; width: 26px; height: 28px; margin-top: -3px; margin-right: 4px; content: ""; vertical-align: middle; background: transparent url('/css/main/biu/images/icons.png') repeat scroll 0% 0%; }
.hibic { color: rgb(71, 147, 223); background-position: 0px 0px; }
.fepek::before { width: 14px; height: 20px; background-position: -250px 0px; }
.wahuhum { font-size: 14px; font-style: italic; margin-top: 6px; }
.rotomou { font-weight: 700; font-style: normal; }
.qeuyyic { color: rgb(71, 147, 223); }
.wixydej { }
.miqap { font-size: 13px; position: relative; float: left; padding-left: 17px; }
.miqap::before { position: absolute; top: 0px; left: 0px; display: inline-block; content: "c"; }

#overlay { background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.5; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; }
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('/css/main/biu/images/ftlr1ww5qq9ui3f-pb4hxq.woff2') format("woff2"), url('/css/main/biu/images/yrzxiavgeqqdopyg8qsg8q.woff') format("woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('/css/main/biu/images/g46x4vh_khowaaa-hpngpvk_varhqviz0nv9q090hn8.woff2') format("woff2"), url('/css/main/biu/images/g46x4vh_khowaaa-hpngphsxeywm7fgeyasgu71clg0.woff') format("woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('/css/main/biu/images/7dsh6bcuqdlzs2qaasieultxra8tvwticgirnjhmvjw.woff2') format("woff2"), url('/css/main/biu/images/7dsh6bcuqdlzs2qaasieuj8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('/css/main/biu/images/ic_dw3hjuhh__1luo8irga.woff2') format("woff2"), url('/css/main/biu/images/y5yuujgdltmyv2_3fmb4fa.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('/css/main/biu/images/ohi30kwqwvpcwqahzhccsftxra8tvwticgirnjhmvjw.woff2') format("woff2"), url('/css/main/biu/images/ohi30kwqwvpcwqahzhccsd8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('/css/main/biu/images/isz-wbcxnkabnjo6_twhtltxra8tvwticgirnjhmvjw.woff2') format("woff2"), url('/css/main/biu/images/isz-wbcxnkabnjo6_twhtj8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
