.fs-10 {
	font-size: 10px
}

.fs-11 {
	font-size: 11px!important
}

.fs-12 {
	font-size: 12px!important
}

.fs-13 {
	font-size: 13px
}

.fs-14 {
	font-size: 14px!important
}

.fs-15 {
	font-size: 15px!important
}

.fs-16 {
	font-size: 16px!important
}

.fs-17 {
	font-size: 17px
}

.fs-18 {
	font-size: 18px
}

.fs-19 {
	font-size: 19px
}

.fs-20 {
	font-size: 20px!important
}

.fs-21 {
	font-size: 21px!important
}

.fs-22 {
	font-size: 22px!important
}

.fs-23 {
	font-size: 23px
}

.fs-24 {
	font-size: 24px!important
}

.fs-25 {
	font-size: 25px
}

.fs-26 {
	font-size: 26px
}

.fs-27 {
	font-size: 27px
}

.fs-28 {
	font-size: 28px
}

.fs-29 {
	font-size: 29px
}

.fs-30 {
	font-size: 30px
}

.fs-31 {
	font-size: 31px
}

.fs-32 {
	font-size: 32px
}

.fs-33 {
	font-size: 33px
}

.fs-34 {
	font-size: 34px
}

.fs-35 {
	font-size: 35px
}

.lh-1 {
	line-height: 1px
}

.lh-2 {
	line-height: 2px
}

.lh-10 {
	line-height: 10px
}

.lh-11 {
	line-height: 11px
}

.lh-12 {
	line-height: 12px
}

.lh-13 {
	line-height: 13px
}

.lh-14 {
	line-height: 14px
}

.lh-15 {
	line-height: 15px
}

.lh-16 {
	line-height: 16px
}

.lh-17 {
	line-height: 17px
}

.lh-18 {
	line-height: 18px
}

.lh-19 {
	line-height: 19px
}

.lh-20 {
	line-height: 20px
}

.lh-21 {
	line-height: 21px
}

.lh-22 {
	line-height: 22px
}

.lh-23 {
	line-height: 23px
}

.lh-24 {
	line-height: 24px
}

.lh-25 {
	line-height: 25px
}

.lh-26 {
	line-height: 26px!important
}

.lh-27 {
	line-height: 27px
}

.lh-28 {
	line-height: 28px
}

.lh-29 {
	line-height: 29px
}

.lh-30 {
	line-height: 30px
}

.lh-31 {
	line-height: 31px
}

.lh-32 {
	line-height: 32px
}

.lh-33 {
	line-height: 33px
}

.lh-34 {
	line-height: 34px
}

.lh-35 {
	line-height: 35px
}

.lh-40 {
	line-height: 40px
}

.lh-48 {
	line-height: 48px
}

.m-0 {
	margin: 0
}

.m-5 {
	margin: 5px
}

.m-10 {
	margin: 10px!important
}

.m-15 {
	margin: 15px
}

.m-20 {
	margin: 20px
}

.mt-0 {
	margin-top: 0!important
}

.mt-1 {
	margin-top: 1px!important
}

.mt-2 {
	margin-top: 2px!important
}

.mt-3 {
	margin-top: 3px!important
}

.mt-4 {
	margin-top: 4px!important
}

.mt-5 {
	margin-top: 5px!important
}

.mt-6 {
	margin-top: 6px!important
}

.mt-7 {
	margin-top: 7px!important
}

.mt-8 {
	margin-top: 8px!important
}

.mt-10 {
	margin-top: 10px!important
}

.mt-11 {
	margin-top: 11px!important
}

.mt-12 {
	margin-top: 12px!important
}

.mt-13 {
	margin-top: 13px!important
}

.mt-15 {
	margin-top: 15px!important
}

.mt-16 {
	margin-top: 16px!important
}

.mt-17 {
	margin-top: 17px!important
}

.mt-18 {
	margin-top: 18px!important
}

.mt-20 {
	margin-top: 20px!important
}

.mt-23 {
	margin-top: 23px!important
}

.mt-26 {
	margin-top: 26px!important
}

.mt-28 {
	margin-top: 28px!important
}

.mt-30 {
	margin-top: 30px!important
}

.mt-33 {
	margin-top: 33px!important
}

.mt-20 #mt-20logo {
	padding-top: 82px
}

.mt-20 .dostavka-wish-master {
	margin-top: -230px
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.mt-20 #dostavka-statistic,.mt-20 .dostavka-wish-master {
		margin-top:10px
	}
}

.mt-25 {
	margin-top: 25px!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-1 {
	margin-bottom: 1px!important
}

.mb-2 {
	margin-bottom: 2px!important
}

.mb-3 {
	margin-bottom: 3px!important
}

.mb-4 {
	margin-bottom: 4px!important
}

.mb-5 {
	margin-bottom: 5px!important
}

.mb-8 {
	margin-bottom: 8px!important
}

.mb-10 {
	margin-bottom: 10px!important
}

.mb-12 {
	margin-bottom: 12px!important
}

.mb-14 {
	margin-bottom: 14px!important
}

.mb-15 {
	margin-bottom: 15px!important
}

.mb-17 {
	margin-bottom: 17px!important
}

.mb-18 {
	margin-bottom: 18px!important
}

.mb-20 {
	margin-bottom: 20px!important
}

.mb-25 {
	margin-bottom: 25px!important
}

.mb-26 {
	margin-bottom: 26px!important
}

.mb-30 {
	margin-bottom: 30px!important
}

.ml-1 {
	margin-left: 1px!important
}

.ml-2 {
	margin-left: 2px!important
}

.ml-3 {
	margin-left: 3px!important
}

.ml-5 {
	margin-left: 5px!important
}

.ml-7 {
	margin-left: 7px!important
}

.ml-10 {
	margin-left: 10px!important
}

.ml-15 {
	margin-left: 15px!important
}

.ml-20 {
	margin-left: 20px!important
}

.ml-25 {
	margin-left: 25px!important
}

.ml-30 {
	margin-left: 30px!important
}

.ml-d-3 {
	margin-left: -3px
}

.pd-0 {
	padding: 0!important
}

.pd-3 {
	padding: 3px
}

.pd-4 {
	padding: 4px
}

.pd-5 {
	padding: 5px
}

.pd-7 {
	padding: 7px
}

.pd-10 {
	padding: 10px
}

.pd-15 {
	padding: 15px
}

.pd-20 {
	padding: 20px
}

.mr-0 {
	margin-right: 0!important
}

.mr-1 {
	margin-right: 1px!important
}

.mr-2 {
	margin-right: 2px!important
}

.mr-3 {
	margin-right: 3px!important
}

.mr-5 {
	margin-right: 5px!important
}

.mr-6 {
	margin-right: 6px!important
}

.mr-7 {
	margin-right: 7px!important
}

.mr-8 {
	margin-right: 8px!important
}

.mr-10 {
	margin-right: 10px!important
}

.mr-11 {
	margin-right: 11px!important
}

.mr-12 {
	margin-right: 12px!important
}

.mr-15 {
	margin-right: 15px!important
}

.mr-16 {
	margin-right: 16px!important
}

.mr-20 {
	margin-right: 20px!important
}

.mr-25 {
	margin-right: 25px!important
}

.mr-30 {
	margin-right: 30px!important
}

.pdt-4 {
	padding-top: 4px
}

.pdt-5 {
	padding-top: 5px
}

.pdt-10 {
	padding-top: 10px
}

.pdt-12 {
	padding-top: 12px
}

.pdt-15 {
	padding-top: 15px
}

.pdt-20 {
	padding-top: 20px
}

.pdt-25 {
	padding-top: 25px!important
}

.pdt-30 {
	padding-top: 30px
}

.pdb-4 {
	padding-bottom: 4px
}

.pdb-5 {
	padding-bottom: 5px
}

.pdb-10 {
	padding-bottom: 10px
}

.pdb-12 {
	padding-bottom: 12px
}

.pdb-15 {
	padding-bottom: 15px
}

.pdb-20 {
	padding-bottom: 20px
}

.pdb-30 {
	padding-bottom: 30px!important
}

.pdb-33 {
	padding-bottom: 33px!important
}

.pdl-0,.pdl-5 {
	padding-left: 5px
}

.pdl-10 {
	padding-left: 10px!important
}

.pdl-15 {
	padding-left: 15px!important
}

.pdl-20 {
	padding-left: 20px
}

.pdl-25 {
	padding-left: 25px
}

.pdl-30 {
	padding-left: 30px
}

.pdl-35 {
	padding-left: 35px
}

.pdr-0 {
	padding-right: 0!important
}

.pdr-5 {
	padding-right: 5px!important
}

.pdr-10 {
	padding-right: 10px!important
}

.pdr-15 {
	padding-right: 15px!important
}

.pdr-20 {
	padding-right: 20px!important
}

.pdr-25 {
	padding-right: 25px!important
}

.pdr-30 {
	padding-right: 30px!important
}

.w0 {
	width: 0
}

.w20 {
	width: 20%
}

.w30 {
	width: 30%
}

.w50 {
	width: 50%
}

.w70 {
	width: 70%
}

.w90 {
	width: 90%
}

.w99 {
	width: 99%
}

.w100 {
	width: 100%
}

.wauto {
	width: auto!important
}

.h0 {
	height: 0
}

.h100 {
	height: 100%
}

.h200px {
	height: 200px
}

.b-left {
	margin-left: 0;
	margin-right: auto
}

.b-center {
	margin: 0 auto
}

.b-right {
	position: relative;
	left: auto;
	right: 0;
	margin-left: auto;
	margin-right: 0
}

.valign-m {
	vertical-align: middle
}

.dspl_ib.valign-m {
	vertical-align: middle!important
}

tr.valign-m td {
	vertical-align: middle
}

.valign-t {
	vertical-align: top
}

.valign-b,tr.valign-b td {
	vertical-align: bottom
}

.align-l {
	text-align: left!important
}

.align-c {
	text-align: center!important
}

.align-r {
	text-align: right!important
}

.r-5 {
	right: 5px
}

.r-10 {
	right: 10px
}

.r-15 {
	right: 15px
}

.r-20 {
	right: 20px
}

.r-25 {
	right: 25px
}

.b-5 {
	bottom: 5px
}

.b-10 {
	bottom: 10px
}

.b-15 {
	bottom: 15px
}

.b-20 {
	bottom: 20px
}

.b-25 {
	bottom: 25px
}

.t-5 {
	top: 5px
}

.t-10 {
	top: 10px
}

.t-15 {
	top: 15px
}

.t-20 {
	top: 20px
}

.t-25 {
	top: 25px
}

.l-5 {
	left: 5px
}

.l-10 {
	left: 10px
}

.l-15 {
	left: 15px
}

.l-20 {
	left: 20px
}

.l-25 {
	left: 25px
}

.fst-b {
	font-weight: 700
}

.fst-i {
	font-style: italic
}

.fst-b-h:hover {
	font-weight: 700
}

.fst-n {
	font-style: normal;
	font-weight: 400
}

.d-table {
	display: table
}

.dspl_fn {
	float: none
}

.dspl_fl {
	float: left
}

.dspl_fr {
	float: right
}

.dspl_b {
	display: block
}

.dspl_n {
	display: none
}

.dspl_i {
	display: inline!important
}

.dspl_h {
	visibility: hidden;
	position: relative;
	top: -1000px
}

.a-clear-b {
	clear: both
}

.a-clear-b.-br {
	height: 15px
}

.o-h {
	overflow: hidden
}

.abs-pos {
	left: 0;
	position: absolute
}

.rel-pos {
	position: relative
}

.bring-to-front {
	z-index: 500
}

.bring-to-back {
	z-index: -1
}

.tl-auto {
	table-layout: auto
}

.tl-fixed {
	table-layout: fixed
}

.bc-sep {
	border-collapse: separate
}

.curs-point {
	cursor: pointer
}

.ul-n,.ul-n li {
	list-style: none outside!important;
	padding: 0;
	margin: 0
}

.no_und,.no_und-h:hover {
	text-decoration: none!important
}

.und {
	text-decoration: underline
}

.und_dash {
	border-bottom: 1px dashed
}

.und_dotted {
	border-bottom: 1px dotted
}

.wrap-break {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word
}

.ie .wrap-break {
	white-space: normal
}

.square_list li {
	list-style: outside square
}

.number_list,.number_list li {
	list-style-position: outside;
	list-style-type: decimal
}

.dspl_ib {
	vertical-align: top;
	display: inline-block
}

.dspl_ib_middle {
	display: inline-block;
	vertical-align: middle
}

.dspl_v {
	visibility: visible
}

.dspl_iv {
	visibility: hidden
}

.hlt,.hlt * {
	zoom:1}

.ie6 .dspl_ib,.ie7 .dspl_ib,.ie8 .dspl_ib {
	display: inline!important;
	zoom:1}

.ie6 dspl_fl,.ie6 dspl_fr {
	display: inline
}

.b-beige {
	background-color: #f3eee2
}

.b-white {
	background-color: #fff
}

.b-black {
	background-color: #000
}

.b-orange {
	background: #fa660f
}

.b-blue {
	background: #358eda
}

.b-red {
	background-color: #d60000
}

.b-gray9 {
	background-color: #999
}

.c-gray3,a.c-gray3,a.c-gray3:active,a.c-gray3:visited {
	color: #333
}

.c-gray3b,a.c-gray3b,a.c-gray3b:active,a.c-gray3b:visited {
	color: #3b3b3b!important
}

.c-gray6,.c-gray6.no-color-hovered,a.c-gray6,a.c-gray6:active,a.c-gray6:visited {
	color: #666!important
}

.c-gray9,a.c-gray9,a.c-gray9:active,a.c-gray9:visited {
	color: #999
}

.c-black,a.c-black,a.c-black:active,a.c-black:visited:not(:hover) {
	color: #000!important
}

.c-blueLight,a.c-blueLight,a.c-blueLight:active,a.c-blueLight:visited {
	color: #1280bc
}

.c-blue,a.c-blue,a.c-blue:active,a.c-blue:visited {
	color: #1280bc!important
}

.c-red,a.c-red,a.c-red:active,a.c-red:visited {
	color: #d60000!important
}

.c-lightGreen {
	color: #3caa3c
}

.link-gray9,.link-gray9:active,.link-gray9:visited {
	color: #999
}

a.linkRedHover:hover,span.linkRedHover:hover {
	color: #d60000!important
}

a.linkBlueHover:hover {
	color: #1280bc!important
}

a.linkWhiteHover:hover {
	color: #fff!important
}

.keepUnderline:hover {
	text-decoration: underline!important
}

.over-h {
	overflow: hidden
}

.over-v {
	overflow: visible
}

.over-a {
	overflow: auto
}

.nowrap {
	white-space: nowrap
}

.wrap-norm {
	white-space: normal
}

.wrap-pre {
	white-space: pre
}

.tdec-none {
	text-decoration: none!important
}

.tdec-lt {
	text-decoration: line-through!important
}

.c-white {
	color: #fff!important
}

.bg-red {
	background-color: #d60000
}

.bg-creamyWhite {
	background-color: #f3eee2
}

.bg-f4 {
	background-color: #f4f4f4
}

.futuraMC {
	font-family: Futura Medium,sans-serif
}

.futura {
	font-family: Futura Demi,sans-serif
}

.hasLayout {
	zoom:1}

.r-3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px
}

.r-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px
}

.r-6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px
}

.r-7 {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px
}

.rt-7 {
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	-khtml-border-radius: 7px 7px 0 0
}

.rb-7 {
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-khtml-border-radius: 0 0 7px 7px
}

.r-10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px
}

.r-12 {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px
}

.crns2 {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

.crns3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

.crns4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.crns5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

.crns6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px
}

.crns7 {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px
}

.crns8 {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px
}

.crns9 {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px
}

.crns10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px
}

.crns11 {
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px
}

.crns12 {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px
}

.crns13 {
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px
}

.crns14 {
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px
}

.crns15 {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px
}

.crns20 {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px
}

.crns30 {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px
}

.crns55 {
	border-radius: 55px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px
}

.crnst7 {
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0
}

.crnst8 {
	border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0
}

.crnst9 {
	border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0
}

.crnst10 {
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0
}

.crnst13 {
	border-radius: 13px 13px 0 0;
	-moz-border-radius: 13px 13px 0 0;
	-webkit-border-radius: 13px 13px 0 0
}

.crnsb7 {
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px
}

.crnsb8 {
	border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px
}

.crnsb10 {
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px
}

.crnsb11 {
	border-radius: 0 0 11px 11px;
	-moz-border-radius: 0 0 11px 11px;
	-webkit-border-radius: 0 0 11px 11px
}

.crnstr10 {
	border-radius: 0 10px 0 0;
	-moz-border-radius: 0 10px 0 0;
	-webkit-border-radius: 0 10px 0 0
}

.crnstr20 {
	border-radius: 0 20px 0 0;
	-moz-border-radius: 0 20px 0 0;
	-webkit-border-radius: 0 20px 0 0
}

.crnstl10 {
	border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0
}

.crnsl11 {
	border-radius: 11px 0 0 11px;
	-moz-border-radius: 11px 0 0 11px;
	-webkit-border-radius: 11px 0 0 11px
}



a.linkDotted,a.linkDotted:active,a.linkDotted:link,a.linkDotted:visited,div.linkDotted {
	text-decoration: none
}

a.linkDotted span.linkDotted,div.linkDotted span.linkDotted {
	border-bottom: 1px dotted
}

a.linkDotted:hover span.linkDotted,div.linkDotted:hover span.linkDotted {
	border-bottom: none
}

a.linkSolid,a.linkSolid:active,a.linkSolid:link,a.linkSolid:visited {
	text-decoration: none
}

a.linkSolid span.linkSolid {
	border-bottom: 1px solid
}

a.linkSolid:hover span.linkSolid {
	border-bottom: none
}

a.linkDashed,a.linkDashed:active,a.linkDashed:link,a.linkDashed:visited {
	text-decoration: none
}

a.linkDashed span.linkDashed {
	border-bottom: 1px dashed
}

a.linkDashed:hover span.linkDashed {
	border-bottom: none
}

.borderD1D2D {
	border: 1px solid #d1d2d3
}

.borderBottomD1D2D3 {
	border: 0;
	border-bottom: 1px solid #d1d2d3
}

.borderRB9 {
	border-right: 1px dotted #b9b9b9
}

.fArial {
	font-family: Arial
}

.op-05 {
	opacity: .5
}

.op-07 {
	opacity: .7
}

.fl-l {
	float: left
}

.fl-r {
	float: right
}




a.linkDotted span.linkDotted {
	border-bottom: 1px dotted
}

a.linkDotted:not(.showDeliveryTkAddress) span.linkDotted:hover {
	color: #d60000!important;
	border-bottom: 1px dotted transparent
}

a.keepDotted span.linkDotted,a.linkDotted.showDeliveryTkAddress span.linkDotted:hover,span.keepDotted span.linkDotted {
	border-bottom: 1px dotted!important
}

a.linkDottedNew {
	border-bottom: 1px dotted;
	text-decoration: none
}

a.linkDottedNew:hover {
	color: #d60000;
	border-bottom: 1px dotted transparent
}

a.linkDottedNew.keepDotted {
	border-bottom: 1px dotted!important
}